<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-coffees"><%= link_to "Coffees", casein_coffees_path %></li>
<li id="tab-caffees"><%= link_to "Caffees", casein_caffees_path %></li>
<li id="tab-shops"><%= link_to "Shops", casein_shops_path %></li>